/* Button mixin */

@mixin button() {
    display: inline-block;
    border-radius: $app-border-radius;
    background: $palette-primary;
    box-shadow: 0px 10px 20px rgba(97, 137, 133, 0.6);
    color: white;
    text-decoration: none;
    padding: 12.5px 25px;
    position: relative;
    top: 0;
    transition: .25s ease-in-out; 

    &:hover {
        background: darken($palette-primary, 5%);
    }

    &:active {
        top: 2px;
        box-shadow: none;
    }
}