/* Palette HEX */
$palette-opal: #96bbbbff;
$palette-steel-teal: #618985ff;
$palette-rifle-green: #414535ff;
$palette-dutch-white: #f2e3bcff;
$palette-antique-brass: #c19875ff;

/* Palette Gradient */
$gradient-top: linear-gradient(0deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-right: linear-gradient(90deg, rgb(0, 0, 0), $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-bottom: linear-gradient(180deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-left: linear-gradient(270deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-top-right: linear-gradient(45deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-bottom-right: linear-gradient(135deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-top-left: linear-gradient(225deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-bottom-left: linear-gradient(315deg, $palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);
$gradient-radial: radial-gradient($palette-opal, $palette-steel-teal, $palette-rifle-green, $palette-dutch-white, $palette-antique-brass);

/* Palette App Variables */
$palette-primary: $palette-steel-teal;
$palette-accent: $palette-opal;
$palette-highlight: $palette-antique-brass;
$palette-dark: $palette-rifle-green;
$palette-light: $palette-dutch-white;

/* Other App Variables */
$app-border-radius: 4px;
$app-max-width: 850px;
$app-z-index-modal: 99;