/* Base styles */

html {
    @include font-roboto();
    font-size: 16px;
    line-height: 1.5;
    color: $palette-dark;
}

body {
    overflow-x: hidden;
}

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: $app-max-width;
}

a {
    color: $palette-dark;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top: 0;
    margin-bottom: 25px;
}

button,
.button  {
    @include button;
}

::selection {
    background: $palette-antique-brass;
    color: white;
}