/* Base styles */

html {
    @include font-roboto();
    font-size: 16px;
    line-height: 1.5;
    color: $palette-dark;
    scroll-behavior: smooth;
    max-width: 2000px;
    margin: auto;
}

body {
    overflow-x: hidden;
}

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: $app-max-width;

    @media (max-width: $app-max-width) {
        padding: 0 25px;
    }
}

a {
    color: $palette-dark;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

div, p {
    a {
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
        }
    }
}

p {
    margin-top: 0;
    margin-bottom: 25px;
}

button,
.button  {
    @include button;
}

::selection {
    background: $palette-primary;
    color: white;
}