/* Helper classes */

.break-large {
    @media (min-width: 1025px) {
        display: block;
    }
}

.break-small {
    @media (max-width: 1024px) {
        display: block;
    }
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}