/* Typography styles */

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap');

@mixin font-roboto() {
    font-family: 'Roboto', sans-serif;
}

@mixin font-rampart() {
    font-family: 'Rampart One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 25px 0;
}

h1 {
    @include font-rampart();
    font-size: 2rem;
    
    @media (min-width: 1025px) {
        font-size: 2.25rem;
    }
}

h2 {
    font-size: 1.625rem;
    
    @media (min-width: 1025px) {
        font-size: 1.625rem;
    }
}